@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Source+Sans+Pro:300,600');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');


@font-face {
    font-family: 'gilroyextrabold';
    src: url('Fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('Fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'geomanistregular';
    src: url('Fonts/geomanist-regular-webfont.eot');
    src: url('Fonts/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/geomanist-regular-webfont.woff2') format('woff2'),
         url('Fonts/geomanist-regular-webfont.woff') format('woff'),
         url('Fonts/geomanist-regular-webfont.ttf') format('truetype'),
         url('Fonts/geomanist-regular-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
    font-family: "gilroyextrabold";
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

    
*{
    margin: 0;
    padding: 0;    
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}


.landing{
    display: inline-flex;
    width: 100vw;
    height: 100vh;
}

.landingLeft{
    background-color: #ffcaca;
    width: 40%;
}   

.landingRight{
    background-color: #ffffff;
}

.boxContainer {
position: absolute;
display: block;
background-color: red;
width: 50vw;
height: 30vh;
bottom: 7%;
left: 5%;
}

.box1, .box2, .box3  {
    position: absolute;
    display: block;
    background-color: blue;
    width: 12vw;
    height: 12vh;
    bottom: 0%;
    left: 0%;
    color: #ffcaca; 
    text-transform: uppercase;
    font-size: 3em;    
    text-align: center;
    
}

.box2{
left: 30%;
}

.box3{
    left: 60%;
    }







